@font-face {
  font-family: Bold;
  src: url(./fonts/OpenSans-Bold.woff);
}
@font-face {
  font-family: Italic;
  src: url(./fonts/OpenSans-Italic.woff);
}

@font-face {
  font-family: Light;
  src: url(./fonts/OpenSans-Light.woff);
}
@font-face {
  font-family: Regular;
  src: url(./fonts/OpenSans-Regular.woff);
}
@font-face {
  font-family: SemiBold;
  src: url(./fonts/OpenSans-SemiBold.woff);
}
body {
  background-color: #120229;
}

p {
  font-family: "Regular";
  color: #fff;
}
h1 {
  font-family: "Bold";
  color: #fff;
}
h3 {
  font-size: 24px;
  color: #fff;
  font-family: Semibold;
  font-weight: 500;
}
h2 {
  font-family: "Bold";
  color: #fff;
}
a {
  color: #fff;
}
.bgimg {
  background-image: url(./images/Gradient.png);
  background-repeat: no-repeat;
  border-radius: 35%;
}

.span {
  font-family: Italic;
}
.experience {
  background-image: url(./images/Gradient.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
}
.shadow {
  box-shadow: 1px 3px 5px 7px #2c1250;
}
.bgskill {
  background-image: url(./images/Ellipse.png);
  background-repeat: no-repeat;
  background-position: center;

  height: 100%;
  width: 100%;
}
.skill {
  background-image: url(./images/skill.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
}
