@font-face {
  font-family: "Preahvihear Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Preahvihear Regular"),
    url("./fonts/Preahvihear-Regular.woff") format("woff");
}

body {
  font-family: "Preahvihear Regular";
  background-color: #120229;
  color: #fff;
}

p {
  color: #fff;
}
h1 {
  font-weight: bold;
}
h3 {
  font-size: 24px;
  color: #fff;

  font-weight: 500;
}
h2 {
  color: #fff;
}

a {
  color: #fff;
}
.bgimg {
  background-image: url(./images/Gradient.png);
  background-repeat: no-repeat;
  border-radius: 50%;
}

.experience {
  background-image: url(./images/Gradient.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
}
.shadow {
  box-shadow: 1px 1px 3px 2px #2c1250;
}
.bgskill {
  background-image: url(./images/Ellipse.png);
  background-repeat: no-repeat;
  background-position: center;

  height: 100%;
  width: 100%;
}
.skill {
  background-image: url(./images/skill.png);
  background-repeat: no-repeat;
  background-position: bottom;
  width: 100%;
}
.bgprojectp {
  background-image: url(./images/project1.png);
  border-radius: 10px;
}
.bgprojectp2 {
  background-image: url(./images/Rectangleopp.png);
  border-radius: 10px;
}
.bgimagegradient {
  background-image: url(./images/Gradient.png);
  background-position: center;
  background-repeat: no-repeat;
}
