@font-face {
  font-family: Bold;
  src: url(./fonts/OpenSans-Bold.woff);
}
@font-face {
  font-family: Italic;
  src: url(./fonts/OpenSans-Italic.woff);
}

@font-face {
  font-family: Light;
  src: url(./fonts/OpenSans-Light.woff);
}
@font-face {
  font-family: Regular;
  src: url(./fonts/OpenSans-Regular.woff);
}
@font-face {
  font-family: SemiBold;
  src: url(./fonts/OpenSans-SemiBold.woff);
}

p {
  font-family: "Regular";
  color: #fff;
}
h1 {
  font-family: "Bold";
  color: #fff;
}
h3 {
  color: #fff;
}
h2 {
  font-family: "Bold";
  color: #fff;
}
a {
  color: #fff;
}
.bgimg {
  background-image: url(./images/Gradient.png);
  background-repeat: no-repeat;
  border-radius: 100%;
}
